<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets for {{user_name}}</title>
</head>
<style type="text/css">
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
</style>
<body>

    <h1 style="font-size:130%; font-family:Verdana, sans-serif;">Tweets for {{user_name}}</h1>

    <p style="font-size:80%; font-family:Verdana, sans-serif;">Median sentiment score: {{score_median}} (-1.0 negative to 1.0 positive)</p>

<ul>
    {%- for tweet in tweets %}
        <li style="list-style:square; font-size:70%; font-family:Verdana, sans-serif; color:{{tweet['color']}}">
            {{tweet['score']}}: <a a style="color:{{tweet['color']}}" href="https://twitter.com/{{user_name}}/status/{{tweet['id']}}">{{tweet['text']}}</a>
        </li>
    {%- endfor %}
</ul>

</body>
</html>
